{% extends 'index.html' %}
{% block content %}

<h1 class="titulo-principal">Calculadora de energia</h1>

<form method="post">
    <label for="medicao_atual">Mediação Atual</label>
    <input type="number" id="medicao_atual" name="medicao_atual" placeholder="Informe a medição atual" required>

    <label for="medicao_anterior">Medição Anterior</label>
    <input type="number" id="medicao_anterior" name="medicao_anterior" placeholder="Informe a medição anterior"
        required>

    <button type="submit">Calcular</button>
</form>

{% endblock content %}