<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- RESET CSS -->
  <link rel="stylesheet" href="../static/css/reset.css">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="../static/css/custom.css">

  <title>Calculadora de energia</title>
</head>

<body>


  <main class="container">
    <div class="left-col"></div>

    <div class="right-col">
      <!-- NAVBAR -->
      {% include 'navbar.html' %}

      <!-- CONTEUDO -->
      {% block content %}{% endblock content %}
    </div>
  </main>
  <!--
    <footer>
      {% include 'footer.html' %}  
    </footer>
    -->

  <!-- CUSTOM JS -->
  <script src="../static/js/script.js"></script>
</body>

</html>